@model User

<h2>Profil Bilgileri</h2>

@if (Model != null)
{
    <div>
        <h3>Kullanıcı Adı: @Model.UserName</h3>
        <h3>Email: @Model.Email</h3>
    </div>
}
else
{
    <p>Kullanıcı bilgileri yüklenemedi.</p>
}